<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title id="page_title">golo商家平台 | 瑞安市公安局车辆智慧管家</title>
        <link rel="shortcut icon" href="./img/logo.jpg" >
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="telephone=no" name="format-detection" />
        <meta content="email=no" name="format-detection" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <header>
            <!-- dfd -->
            <div id="header">
                <div class="logo fleft" style="margin-top: 8px;">
                    <img src="./img/logo.jpg" width="50px" height="50px">
                </div>
                <div class="logo_title fleft" style="line-height: 60px;margin-top: 3px;">
                    瑞安市公安局车辆智慧管家
                </div>
            </div>
        </header>
        <div class="menu left" style="height:532px">
            <ul>
                <li>行程统计</li> 
                <li>油耗统计</li>
                <li>行程记录</li>
            </ul>
        </div>
    </body>
</html>